.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.5s;
  z-index: 1;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.nav-avatar {
  height: 40px;
  object-fit: contain;
}
